table {
  border: 1px solid var(--border);
  border-collapse: separate;
  border-left: 0;
  border-radius: $radius-sm;
  border-spacing: 0px;
  width: 100%;
  margin: 2rem 0;

  caption {
    padding: 0 0 1rem;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: left;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  th,
  td {
    padding: 0.75rem;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid var(--border);
  }

  th {
    background: var(--backgroundSecondary);
  }

  td {
    border-top: 1px solid var(--border);
  }

  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    border-radius: $radius-sm 0 0 0;
  }

  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 $radius-sm;
  }

  thead:first-child tr:first-child th:last-child {
    border-radius: 0 $radius-sm 0 0;
  }
}
