* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: color 0.12s cubic-bezier(0.2, 0, 0, 1);
  transition: background 0.12s cubic-bezier(0.2, 0, 0, 1);
}

::selection {
  background-color: var(--text);
  color: var(--background);
}

:root {
  font-size: 16px;

  @media only screen and (min-width: 1600px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 850px) {
    font-size: 16px;
  }
}

html {
  padding: 0;
  margin: 0;

  @media only screen and (min-width: 851px) {
    html {
      margin-left: calc(100vw - 100%);
    }
  }
}

body {
  font-family: $fonts-sans-serif;
  line-height: 2;
  max-width: 700px;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 0 4.5rem;
  background: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

a {
  transition: all 0.15s cubic-bezier(0.2, 0, 0, 1);
  border-bottom: 1.5px solid var(--focus);
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: var(--primary);
    border-color: var(--primary);
  }
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1.5px solid var(--border);
  margin: 1.5rem 0;
}
