h1 {
  line-height: 1.25;
  margin-bottom: 2rem;

  a {
    border-width: 4px;
  }
}

h2 {
  line-height: 1.375;
  margin-bottom: 1.75rem;

  a {
    border-width: 3px;
  }
}

h3 {
  line-height: 1.5;
  margin-bottom: 1.5rem;

  a {
    border-width: 2px;
  }
}

h4 {
  line-height: 1.625;
  margin-bottom: 1.375rem;
}

p,
li {
  color: var(--textSecondary);
}

blockquote {
  border-left: 1.5px solid var(--focus);
  margin-left: 1.125rem;
  padding-left: 1.375rem;
  font-style: italic;

  cite {
    font-style: normal;
  }
}

code {
  padding: 0.25rem;
  font-size: 0.9rem;

  @include card;
}

pre {
  background: var(--backgroundSecondary);
  border: 1px solid var(--border);
  border-radius: $radius-sm;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;

  code {
    border: none;
    padding: 0;
  }

  @include card;
}

kbd {
  display: inline-block;
  position: relative;
  align-items: center;
  font-family: $fonts-mono;
  text-transform: uppercase;
  font-size: 0.875rem;
  min-width: 0.625rem;
  text-align: center;
  cursor: default;
  margin: 0 calc(0.1rem + 2px);
  font-style: normal;
  border-radius: 3px;
  background: var(--backgroundSecondary);
  box-shadow: 0 2px 0 1.5px var(--border);
  line-height: 1;
  padding: 2px 5px;
  position: relative;
  top: -1px;
  user-select: none;

  svg {
    margin-top: -3px;
    width: 0.75rem;
    height: 0.75rem;
  }

  &:hover {
    box-shadow: 0 1px 0 0.5px var(--border);
    top: 1px;
  }
}
