:root {
  --white: #fbfbff;
  --black: #181827;

  --background: var(--black);
  --backgroundSecondary: #1f1f32;
  --border: #2d2d46;
  --primary: #6370fc;
  --focus: #6370fc80;
  --text: var(--white);
  --textSecondary: #b0b0bf;

  --pink: #f2529c;
  --green: #19e6b6;
  --blue: #60a7fa;
  --orange: #ffb026;
  --red: #ed5858;
}

* {
  color-scheme: dark;
}
